[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zero-order-gpmpc = {editable = true, path = "."}
acados-template = {editable = true, path = "./acados/interfaces/acados_template"}
casadi = "==3.5.5"

[dev-packages]
jupytext = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
